@media screen and (max-width:1239px) {
    .our-friends-container {
        justify-content: space-around;
    }

    .footer-title-first {
        width: 70%;
    }

    .footer-title-second {
        width: 70%;

    }
}

@media screen and (max-width:1072px) {
    .cross {
        top: -50px;
        right: -47px;
    }

    .pets-more {
        position: fixed;
        top: 46%;
        width: 630px;
        height: 350px;
    }
    .pets-more-container-img{
        height: 350px;
    }
    .pets-more-container-title{
        margin-top: 12px;
        margin-left: 10px;
    }
    .pets-more-container-subtitle {
        margin-top: 10px;
        margin-left: 13px;
    }
    .pets-more-container-text {
        font-size: 13px;
        line-height: 14px;
        margin-top: 22px;
        margin-left: 13px;
        margin-right: 5px;
    }
    .pets-more-container-list {
        margin-top: 19px;
        margin-left: 13px;
    }
    .pets-more-container-item {
        margin-top: 6px;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-img {
        width: 300px;
        margin: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width:768px) {

    /* navbar */
    .nav-logo {
        margin-left: 4%;
    }

    .nav-list {
        margin-right: 30px;
    }

    .nav-item {
        margin-right: 0px;
        margin-left: 36px;
    }

    /* our-friends */
    .our-friends-container {
        justify-content: left;
        margin-top: 0px;
        margin-left: 54px;
        height: 1397px;
        overflow: hidden;
    }

    .our-friends-background {
        margin-top: 30px;
        margin-left: 40px;
    }

    .our-friends-card-title {
        margin-top: 26px;
    }

    .our-friends-buttons {
        margin-top: 37px;
        padding-bottom: 76px;
    }

    /* footer */
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-title-first {
        width: 75%;
        margin-top: 32px;
        margin-left: 16.6%;
    }

    .footer-container-icons-first {
        margin-left: 16.6%;
    }

    .footer-container-icons-second {
        margin-top: 40px;
        margin-left: 16.6%;
    }

    .footer-mail {
        width: 75%;
        margin-left: 21px;
        text-decoration: none;
        transition: 0.5s;
    }

    .footer-title-second {
        width: 75%;
        margin-top: 32px;
        margin-left: 6%;
    }

    .footer-container-icons-third {
        margin-top: 31px;
        margin-left: 5.7%;
    }

    .footer-container-icons-fourty {
        margin-top: 34px;
        margin-left: 5.7%;
    }

    .footer-img {
        margin: auto;
        margin-top: 63px;
    }
}

@media (max-width: 950px) {
    .pagination {
        padding-top: 0.6875rem;
    }
}

@media (max-width: 400px) {
    .pagination {
        padding-top: 0rem;
    }
}

@media (any-hover: hover) {
    .pagination__arrow:hover circle {
        fill: #FDDCC4;
        stroke: #FDDCC4;
    }
}

@media screen and (max-width:767px) {



    .hamb_field {
        position: absolute;
        display: block;
        right: 27px;
        top: 40px;
        z-index: 3;
        transition: 0.5s;
    }

    .item-right {
        margin-right: 0px;
    }

    .nav-item {
        margin-right: 0px;
    }

    .nav-link-unactive {
        padding-bottom: 8px;
    }

    .hamb_field.active {
        position: fixed;
        right: 27px;
        top: 40px;
        transform: rotate(-90deg);
        transition: 0.5s;
    }

    .nav-list {
        align-items: center;
        justify-content: center;
        right: -130%;
        top: 0px;
        bottom: -30px;
        width: 320px;
        height: 100%;
        margin-right: 0px;
        margin-top: 0px;
        position: fixed;
        flex-direction: column;
        background-color: #F6F6F6;
        transition: 0.5s;
    }

    .body.active {
        height: 100vh;
        overflow-y: hidden;
    }

    .nav-list.active {
        right: 0;
        transition: 0.5s;
    }

    .nav-item {
        margin-left: 0px;
        margin-top: 43px;
    }

    .bar {
        display: block;
        width: 30px;
        height: 2px;
        background: black;
        margin-top: 8px;
    }

    .nav-link {
        font-size: 32px;
        line-height: 51px;
    }

    .nav-link-unactive {
        font-size: 32px;
        line-height: 51px;
    }

    .first-link {
        margin-top: 0px;
    }

}
@media screen and (max-width:745px) {
.cross {
    top: -55px;
    right: -30px;
}
.pets-more {
    width: 240px;
    height: 341px;
    top: 49.5%;
}
.pets-more-container-img {
    display: none;
}
.pets-more-container-title{
    text-align: center;
}
.pets-more-container-subtitle{
    margin-left: 0px;
    text-align: center;
}
.pets-more-container-text{
    margin-top: 20px;
    margin-left: 11px;
}
.pets-more-container-list {
    margin-top: 21px;
}
}

@media screen and (max-width:700px) {
    .our-friends-container {
        justify-content: space-around;
        margin-left: 0px;
    }

}

@media screen and (max-width:650px) {
  

    .our-friends-title {
        font-size: 32px;
        width: 60%;
        margin: auto;
    }

    .footer-title-first {
        font-size: 32px;
        text-align: center;
        margin-top: 30px;
    }

    .footer-title-second {
        font-size: 32px;
    }

    .footer-text-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-container-icons-first {
        width: 50%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-second {
        width: 53.5%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-title-second {
        width: 70%;
        margin: auto;
        text-align: center;
        margin-top: 32px;
    }

    .footer-container-icons-third {
        width: 64%;
        margin-left: 24%;
        margin-top: 31px;
    }

    .footer-container-icons-fourty {
        margin-top: 34px;
        margin-left: 24%;
    }

}

@media screen and (max-width:490px) {
  
    .our-friends-title {
        font-size: 28px;
        width: 90%;
    }

    .footer-title-first {
        font-size: 28px;
    }

    .footer-title-second {
        font-size: 28px;
    }

    .footer-container-icons-first {
        width: 53%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-second {
        width: 59%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-third {
        width: 63%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-fourty {
        width: 57%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-img {
        width: 81%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-mail {
        width: 100%;
    }
}

@media screen and (max-width:320px) {

    /* navbar */
    .nav-logo {
        margin-left: 6%;
    }

    .nav-logo-text {
        margin-left: 4px;
    }

    /* our-friends */
    .our-friends-title {
        font-size: 25px;
        line-height: 32px;
        padding-top: 42px;

    }

    .our-friends-container {
        margin-top: 12px;
        margin-left: 0%;
    }

    .our-friends-background {
        margin-top: 30px;
        margin-left: 0%;
    }

    .our-friends-buttons {
        margin-top: 40px;
        padding-bottom: 42px;
        justify-content: space-around;
    }

    .unactive-arrow {
        margin-right: 0%;
        margin-left: 1%;
    }

    .active-arrow {
        margin-right: 1%;
        margin-left: 0%;
    }

    /* footer */
    .footer-text-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-title-first {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 30px;
    }

    .footer-container-icons-first {
        width: 79%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-second {
        width: 75.5%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-title-second {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-third {
        width: 95%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-container-icons-fourty {
        width: 95%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-img {
        width: 81%;
        margin: auto;
        margin-top: 40px;
    }

    .footer-mail {
        width: 100%;
    }
}